{% extends 'base.html' %} {% block content %}
{%load socialaccount %}
{%providers_media_js%}
<h1 class="title">Login</h1>

<form method="POST" action="{%url 'login'%}">
    {%csrf_token%}
    Username :
    <br>
    <input name="username" type="text" value="">
    <br>
    Password :
    <br>
    <input name="password" type="password" value="">
    <br>
    <br>
    <input type="submit" value="Login">
    <h2 class="naver_h2"><a class="naver" href="{% provider_login_url 'naver' %}">네이버로 로그인 하기</a></h2>
</form>

{% endblock %}
